# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f4c3a2d291acf8da6a7822eb245f0417136a3530df850aa7c4c64310bb7da39488034550a816926893ad0dbd1dfa0907bf0b3c2fa65b1776f57291ff89b1c842

test:
  secret_key_base: 4aa46a262b0e41d1cc18addb2b57467c3add894cbd2f208edd40bb8668dabd1f764914c8f550ee4df18fd0176f182c46bf265c18ed907e0a734dd73169a03b8b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
