.form {
  @include right-contentsPadding();
  line-height: 90px;
  background-color: #ddd;
  .text-box {
    display: inline-block;
    position: relative;
    width: 100%;
    &__input {
      padding-left: 10px;
      height: 50px;
      width: calc(100% - 125px);
      border-style: none;
    }
    .fa-image {
      font-size: 1.3rem;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 5px;
    } .image-label__input {
      display: none;
    }
    &__submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 auto;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}