.left-contents {
  overflow: scroll;
  position: fixed;
  float: left;
  min-height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  &-header {
    @include left-contensPadding;
    height: 100px;
    background-color: #253141;
    color: $white;
    .user-name {
      font-size: 16px;
      font-weight: bold;
      padding-top: 36px;
      float: left;
    }
    .fa {
      padding-top: 40px;
      float: right;
    }
    .fa-edit {
      padding-right: 5px;
    }
    :visited {
      color: $white;
    }
  }
  .groups {
    overflow: scroll;
    height: calc(100vh - 100px);
    width: 300px;
    .group {
      @include left-contensPadding();
      color: $white;
      a {
        text-decoration: none;
        color: $white;
      }
      &__group-name {
        font-size: 15px;
        padding-top: 20px;
      }
      &__latest-message {
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 20px;

      }
      :visited {
        color: $white;
      }
    }
  }
}
