.messages {
  overflow: scroll;
  height: calc(100vh - 211px);
  background-color: #fafafa;
  padding-top: 20px;
  .message {
    @include right-contentsPadding(20px);
    .info {
      &__user {
        float: left;
        padding-right: 10px;
        font-size: 16px;
        font-weight: bold;
        color: $deepgray;
      }
      &__date {
        font-size: 12px;
        color: $gray;
      }
    }
    &__text {
      font-size: 14px;
      color: $deepgray;
      clear: both;
    }
  }
}