/*
 *= require font-awesome
 */

@import "font-awesome";
@import "./reset";
@import "./variable";

.contents {
  .head {
    float: initial;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    width: 100vw;
    background-color: $skyblue;
  }
  .left-contents {
    float: left;
    height: 100vh;
    width: 300px;
    background-color: #2f3e51;
    .left-contents-header {
      @include left-contensPadding;
      height: 100px;
      background-color: #253141;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      .user-name {
        padding-top: 36px;
        float: left;
      }
      .fa {
        padding-top: 40px;
        float: right;
      }
      .fa-edit {
        padding-right: 5px;
      }
      :visited {
        color: $white;
      }
    }

    .groups {
      height: auto;
      width: 300px;
      .group {
        @include left-contensPadding(20px);
        color: $white;
        font-weight: bold;
        a {
          text-decoration: none;
        }
        &__group-name {
          font-size: 15px;
        }
        &__latest-massage {
          font-size: 11px;
          padding-top: 5px;
        }
        :visited {
          color: $white;
        }
      }
    }
  }

  .right-contents {
    float: right;
    height: 100%;
    width: calc(100vw - 300px);
    .right-contents-header {
      position: relative;
      @include right-contentsPadding();
      height: 100px;
      border-bottom: solid 1px #eeeeee;
      .current-group {
        &__name {
          padding-top: 35px;
          padding-bottom: 15px;
          font-size: 20px;
          color: $darkgray;
        }
        .member-list {
          float: left;
          font-size: 12px;
          color: $gray;
        }
        .member-list__member {
          float: left;
          padding-left: 5px;
          font-size: 12px;
          color: $gray;
          list-style: none;
        }
        .right-contents-hedder__btn {
          float: right;
          line-height: 38px;
          padding: 0 20px;
          border: solid 1px $skyblue;
          color: $skyblue;
          position: absolute;
          top: 28px;
          right: 40px;
          bottom: auto;
          left: auto;
        }
      }
    }
  }
  .messages {
    min-height: calc(100vh - 211px);
    background-color: #fafafa;
    padding-top: 20px;
    .message {
      @include right-contentsPadding(20px);
      .info {
        &__user {
          float: left;
          padding-right: 10px;
          font-size: 16px;
          font-weight: bold;
          color: $deepgray;
        }
        &__date {
          font-size: 12px;
          color: $gray;
        }
      }
      &__text {
        font-size: 14px;
        color: $deepgray;
        clear: both;
      }
    }
  }
  .form {
    @include right-contentsPadding();
    line-height: 90px;
    background-color: #ddd;
    .text-box {
      display: inline-block;
      position: relative;
      width: 100%;
      .input-text__box {
        padding-left: 10px;
        height: 50px;
        width: calc(100% - 125px);
        border-style: none;
      }
      .fa-image {
        font-size: 1.3rem;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 5px;
      } .image-label__input {
        display: none;
      }
      .new-message__submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 auto;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}